:root {
  --color-lime: #d091ee;
  --color-blue-500: #afb7ff;
  --color-blue-400: #c7cdff;
  --color-blue-300: #f7f8ff;
  --color-black-300: #aaaaaa;
  --color-black-400: #636363;
  --color-black-500: #222222;
  --color-white: #ffffff;
  --color-light-white: #d9d9d9;
  --color-black-100: #E5E5E5;
}
